body{
  background-color:gray;
}

#playing-cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center; 
  min-height:100vh;
  gap:100px;
  font-size:30px;
  
  

}

.card{
  display:flex;
  justify-content:space-between;
  background-color: rgb(241, 239, 239);
  width:75px;
  height:100px;
  border:2px solid black;
  border-radius:5px;
  color:red;
  box-shadow: 1px 4px 10px rgba(46, 45, 45, 0.5);
  padding:5px;
  transform: scale(1.5);
  
}

.card:first-of-type {
  color: black;
}

.left{
  display:flex;
  align-self:flex-start;
}

.middle{
  display:flex;
  flex-direction:column;
  align-self:center;
}

.right{
  display:flex;
  
  align-self:flex-end;
}